@headerH:60px;//头部高度
@footerH:40px;//底部高度
@navW:60px; //导航栏高度
@contentH:~"calc(100% - @{headerH} - @{footerH})";//内容页高度
@borderCol:#e7eaec;//表框颜色
@mainCol:#1777db;
@mainColorFadein:#262b2d;
@subColor:#ab5822;
@linkColor:#f6b60a;

.transLine(@start_time:0.5s){
    transition: all @start_time cubic-bezier(.35, .52,.33, .98) 0s;
    -moz-transition: all @start_time cubic-bezier(.35, .52,.33, .98) 0s;
    -ms-transition: all @start_time cubic-bezier(.35, .52,.33, .98) 0s;
    -webkit-transition: all @start_time cubic-bezier(.35, .52,.33, .98) 0s;
    -o-transition:all @start_time cubic-bezier(.35, .52,.33, .98) 0s;
}

.transAtt(@att,@start_time:0.5s){
    transition: @att @start_time cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
    -moz-transition: @att @start_time cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
    -ms-transition: @att @start_time cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
    -webkit-transition: @att @start_time cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
    -o-transition:@att @start_time cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
}

.trans(@start_time:0.5s){
    transition: all @start_time cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
    -moz-transition: all @start_time cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
    -ms-transition: all @start_time cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
    -webkit-transition: all @start_time cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
    -o-transition:all @start_time cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
}


.border(@direction,@col:@borderCol) when(@direction="") {
    border-top:1px solid @col;
    border-bottom:1px solid @col;
    border-left:1px solid @col;
    border-right:1px solid @col;
}
.border(@direction,@col:@borderCol) when(@direction="top") {//表框样式
    border-top:1px solid @col;
}
.border(@direction,@col:@borderCol) when(@direction="bottom") {//表框样式
    border-bottom:1px solid @col;
}
.border(@direction,@col:@borderCol) when(@direction="left") {//表框样式
    border-left:1px solid @col;
}
.border(@direction,@col:@borderCol) when(@direction="right") {//表框样式
    border-right:1px solid @col;
}